Repository julialoeschel/capstone-project: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint --fix --cache",
  "*.css": "stylelint --fix",
  "*.{js,ts,css,html,json,md}": "prettier --write"
}

Setup npm, Styledcomponent and Globalstyles
  package-lock.json
  package.json
  src/app/GlobalStyles.tsx
  src/app/components/Button/Button.module.css
  src/app/components/Button/Button.stories.tsx
  src/app/components/Button/Button.tsx
Due: stylelint --fix, prettier --write

Set semicolon style, clear files, test Storybook/ vite
  .prettierrc.json
  src/app/App.module.css
  src/app/App.tsx
  src/app/GlobalStyles.tsx
  src/app/components/test.stories.tsx
  src/app/logo.svg
  src/app/main.tsx
Due: stylelint --fix, prettier --write

update acc semicolonStyle
  .storybook/main.js
  .storybook/preview.tsx
  src/server.ts
  vite.config.js
Due: eslint --fix --cache, prettier --write

Setup files
  src/app/App.tsx
  src/app/components/LocationInput/LocationInput.stories.tsx
  src/app/components/LocationInput/LocationInput.tsx
  src/app/components/test.stories.tsx
Due: none

Setup HTML and Styling
  src/app/components/LocationInput/LocationInput.tsx
Due: none

add controled components and handleSubmit
  src/app/components/LocationInput/LocationInput.tsx
Due: none

Style input and set placeholder
  src/app/components/LocationInput/LocationInput.tsx
Due: none

Add warning Text if fields are empty
  src/app/components/LocationInput/LocationInput.tsx
Due: none

Update according review
  src/app/App.tsx
  src/app/components/LocationInput/LocationInput.tsx
Due: none

Setup new folders
  src/app/App.tsx
  src/app/components/Map/Map.stories.tsx
  src/app/components/Map/Map.tsx
Due: none

clean up commented out code
  index.html
  src/app/App.tsx
Due: prettier --write

Install mapbox
  package-lock.json
  package.json
Due: prettier --write

Setup Map page with react
  src/app/components/Map/Map.tsx
Due: none

Add geocoder funcrionality
  package-lock.json
  package.json
  src/app/components/Map/Map.tsx
Due: prettier --write

Add Globalstyles to Storybook
  .storybook/preview.tsx
Due: none

prepare for directions api
  index.html
  src/app/components/Map/Map.tsx
Due: prettier --write

Update according reviews - delete uneccessary code
  index.html
  package.json
  src/app/components/Map/Map.tsx
Due: prettier --write

Run npm i again
  package-lock.json
Due: prettier --write

Setup Directions Map
  index.html
  package-lock.json
  package.json
  src/app/components/Map/Map.tsx
Due: prettier --write

Update according review
  src/app/components/Map/Map.tsx
Due: none

Try to solve MapDirections
  src/app/components/Map/Map.tsx
Due: none

Fetsch distance from api
  src/app/components/Map/Map.tsx
Due: none

Add NavigationControl
  src/app/components/Map/Map.tsx
Due: none

Update Map display
  src/app/App.tsx
  src/app/components/Map/Map.tsx
Due: none

Draw direction on Map
  src/app/components/Map/Map.tsx
Due: none

Update location
  src/app/components/Map/Map.tsx
Due: none

Center map on route, define sart and endpoint
  src/app/components/Map/Map.tsx
Due: none

upgrade the "setlocation" functionality
  src/app/components/Map/Map.tsx
Due: none

Create button
  src/app/components/InputPageButton/InputPageButton.tsx
  src/app/components/Map/Map.tsx
Due: none

Add styling
  src/app/components/InputPageButton/InputPageButton.tsx
  src/app/components/Map/Map.tsx
Due: none

Create Yout location Display
  src/app/components/Map/Map.tsx
  src/app/components/YourLocationInput/YourLocationInput.stories.tsx
  src/app/components/YourLocationInput/YourLocationInput.tsx
Due: none

Adjust clear function
  src/app/components/Map/Map.tsx
Due: none

Create Story
  src/app/components/InputPageButton/InputPageButton.stories.tsx
Due: none

CreateNavigate Button for back and Map
  src/app/Incons/NavigationButtonBackIcon.tsx
  src/app/Incons/NavigationButtonMapIncon.tsx
  src/app/components/Map/Map.tsx
  src/app/components/NavigationButton/NavigationButton.stories.tsx
  src/app/components/NavigationButton/NavigationButton.tsx
Due: none

Add State for Navigation button
  src/app/components/Map/Map.tsx
Due: none

Add state to Map.tsx
  src/app/components/NavigationButton/NavigationButton.tsx
Due: none

Solve Typos in Icons (pt1)
  src/app/Incons/NavigationButtonBackIcon.tsx
  src/app/Incons/NavigationButtonMapIcon.tsx
  src/app/components/Map/Map.tsx
  src/app/components/NavigationButton/NavigationButton.stories.tsx
Due: none

Correct spelling in icon (pt2)
  src/app/Icons/NavigationButtonBackIcon.tsx
  src/app/Icons/NavigationButtonMapIcon.tsx
  src/app/components/Map/Map.tsx
Due: none

Make pages toggle, set alerts and condtions
  src/app/components/Map/Map.tsx
Due: none

Refactor typeScript Issues
  src/app/components/Map/Map.tsx
Due: none
